{% extends "!layout.html" %}

{%- block extrahead %} 
<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js">
</script>
<script src="https://wzrd.in/standalone/function-plot@1.14.0">
</script>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  TeX: { equationNumbers: { autoNumber: "AMS" } }
});
</script>

{% endblock %}
