img.math {
    float: left;
    vertical-align: middle;
}

div.body div.math p {
    text-align: center;
}

span.eqno {
    float: right;
}

.toggle .header {
    display: inline-block;
    font-weight: bold;
    font-size: 10pt;
    border: 1pt solid #777;
    background-color: #DBEDFF;
    border-radius: 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.homework {
    display: block;
    background-color: #DBEDFF;
    border: 1pt solid #777;
    border-radius: 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.definition {
    display: block;
    background-color: #FFE9C3;
    border: 1pt solid #777;
    border-radius: 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.theorem {
    display: block;
    background-color: #C9FFB6;
    border: 1pt solid #777;
    border-radius: 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.algorithm {
    display: block;
    background-color: #FFB3AE;
    border: 1pt solid #777;
    border-radius: 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}

.proof {
    display: block;
    background-color: #FFF2DB;
    border: 1pt solid #777;
    border-radius: 5px;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
}
